{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

     <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script> 
    <script src="https://unpkg.com/gojs/release/go.js"></script>
</head>
<body>
    <div class="d-flex flex-column " style="flex:1; background:#ffffff;  height:100vh" >
        {% block content %}

        {% endblock %}
    </div>
{% block scripts %}

{% endblock %}
</body>
</html>