{% extends "base.html" %}

{% block content %}
<div class="container-fluid h-100">
    <div class="row justify-content-center h-100">
        <div class="col-9 h-100 p-0 ">
            <div class="card h-100 border-0 rounded-0">
                <div class="card-header rounded-0" style="background-color: #4c4c4c;">
                    <h4 class="card-title text-center" id="Titre">--------------</h4>
                </div>
                <div class="card-body d-flex p-0">
                    <!-- <canvas ref="canvas" id="canvas" width="200" height="100"></canvas>
                      -->

                    <div class="d-flex align-items-center justify-content-center  " id="canvasBox" style="flex:1;"
                        ref="canvasBox">
                        <canvas style="margin:0;padding:0; background-repeat: no-repeat; background-position:center; "
                            ref="canvas" id="canvas" class="canvasView"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 h-100 p-0 ">
            <div class="card h-100 border-0 rounded-0" style="background-color: #4c4c4c;">
                <div class="card-body d-flex flex-column h-100">
                    <div class="card">
                        <div class="card-header text-dark text-center">
                            MODE
                        </div>
                        <div class="card-body d-flex p-0 m-0 flex-column">

                            <select name="modes" id="mode-select" onchange="changeMode()">
                                <option value="">----------</option>
                                <option value="alice_bob">ALice-Bob</option>
                                <option value="alice_n_bob">Alice-N-Bob</option>
                                <option value="alice_mnist">Alice-NNIST</option>
                                <option value="mis">MIS</option>
                            </select>
                        </div>
                    </div>
                    <div id="box_alice_bob" class="d-flex flex-column  box_options h-100 d-none">
                        <div class="card d-flex " style="background-color: rgba(255, 255, 255, 0.616);">
                            <div class="card-header text-dark text-center">
                                Options
                            </div>
                            <div class="card-body d-flex p-0 m-0 flex-column">
                                <!-- table form  -->
                                <table class="table">

                                    <tbody class="h-100">
                                        <tr>
                                            <th scope=" row">Logique Bob</th>
                                            <td>
                                                <select name="bob_alice_2" id="alice_bob_2" onchange="changeBobAlice()">
                                                    <option value="">----------</option>
                                                    <option value="rd">Random</option>
                                                    <option value="alice_n_bob">Serie</option>

                                                </select>
                                            </td>

                                        </tr>

                                        <tr>
                                            <th scope="row">Ratio 1 Bob</th>
                                            <td>
                                                <input type="number" name="ratio_bob" id="ratio_bob" value="0.5">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Ratio 1 Alice</th>
                                            <td>
                                                <input type="number" name="ratio_alice" id="ratio_alice" value="0.2">
                                            </td>
                                        </tr>
                                        <!-- <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                            
                                      </tr>
                                      <tr>
                                        <th scope="row">3</th>
                                        <td>Larry</td>
                                    
                                      </tr> -->
                                    </tbody>
                                </table>
                                <!-- <button onclick="bob_alice()">Run</button> -->
                                <button type="button" id="alice_bob_btn" onclick="Simulate_alice_bob()"
                                    class="btn btn-success m-1">Start</button>
                            </div>
                        </div>
                        <div class=" d-flex p-1" style="flex: 1;">


                            <!-- <textarea id="console_alice_bob" class="console" style="height: 100%;width: 100%;" readonly></textarea> -->
                            <table>
                                <thead>
                                    <tr>
                                        <th scope="col" class="text-center" colspan="3" >Alice</th>
                                        <th scope="col" class="text-center" colspan="2">Bob</th>
                                    </tr>
                                    <tr>
                                        <td width="20%" class="text-center">Generate</td>
                                        <td width="20%" class="text-center">Recieve</td>
                                        <td width="20%" class="text-center">Guess</td>
                                        <td width="20%" class="text-center">Generate</td>
                                        <td width="20%" class="text-center">Recieve</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td height="100" colspan="3">
                                            <textarea id="console_alice_bob_alice" class="console"
                                                style="height: 100%;width: 100%;" readonly></textarea>
                                        </td>
                                        <td height="100" colspan="2">
                                            <textarea id="console_alice_bob_bob" class="console"
                                                style="height: 100%;width: 100%;" readonly></textarea>
                                        </td>
                                    </tr>
                                </tbody>

                                <tfoot>
                                    <tr>
                                        <td>
                                            Accuracy
                                        </td>
                                        <td colspan="2">
                                            70%
                                        </td>
                                        <td colspan="2">
                                            70%
                                        </td>
                                    </tr>

                            </table>
                        </div>
                    </div>
                    <div id="box_alice_n_bob" class="flex-column  box_options h-100 d-none">
                        <div class="card d-flex " style="flex: 2;background-color: rgba(255, 255, 255, 0.616);">
                            <div class="card-header text-dark text-center">
                                Options
                            </div>
                            <div class="card-body d-flex p-0 m-0 flex-column">
                                <!-- table form  -->
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Option</th>
                                            <th scope="col">Valeur</th>

                                        </tr>
                                    </thead>
                                    <tbody class="h-100"">
                                    <tr>
                                        <th scope=" row">Logique Bob</th>
                                        <td>
                                            <select name="bob_alice" id="alice_bob" onchange="changeBobAlice()">
                                                <option value="">----------</option>
                                                <option value="rd">Random</option>
                                                <option value="alice_n_bob">Serie</option>

                                            </select>
                                        </td>

                                        </tr>
                                        <tr>
                                            <th scope="row">Nombre de Bob</th>
                                            <td>
                                                <input type="number" name="nb_bob" id="nb_bob" value="10">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Ratio 1 Bob</th>
                                            <td>
                                                <input type="number" name="ratio_bob" id="ratio_bob" value="0.5">
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Ratio 1 Alice</th>
                                            <td>
                                                <input type="number" name="ratio_alice" id="ratio_alice" value="0.2">
                                            </td>
                                        </tr>
                                        <!-- <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                            
                                      </tr>
                                      <tr>
                                        <th scope="row">3</th>
                                        <td>Larry</td>
                                    
                                      </tr> -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class=" d-flex p-1" style="flex: 1;">
                            <div class="d-flex bg-primary" style="flex: 1;"></div>
                            <div class="d-flex bg-danger" style="flex: 1;"></div>
                        </div>
                    </div>
                    <div id="box_Mnist" class="box_options h-100 d-none"> </div>
                    <div id="box_mis" class="box_options h-100 d-none"> </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    // $(document).ready(function () {
    //     console.log("jQuery ready");
    // });
    const canevas_box = document.getElementById('canvasBox');
    var canvas = document.getElementById('canvas');
    var ctx = canvas.getContext('2d');
    var nodes = [];
    var alice = null;
    var bob = null;


    class Node {
        constructor(x, y, r, color, name, p_one = 0.5) {
            this.x = x;
            this.y = y;
            this.r = r;
            this.color = color;
            this.name = name;
            this.p_one = p_one;
            this.isDisconnected = false; // Statut de déconnexion
            this.receivedBits = []; // Bits reçus
            this.countOnes = 0; // Nombre de bits 1 reçus
            this.countTotal = 0; // Nombre total de bits reçus
            this.generateBits = [];
        }

        sendMessage() {
            /**
             * Envoie un bit (0 ou 1) si le nœud n'est pas déconnecté.
             * Retourne null si le nœud est déconnecté.
             */
            // if (this.isDisconnected) {
            //     return null;
            // }

            let len = this.generateBits.length;
            if (len === 0) {
                let bit =choice([0, 1]);
                this.generateBits.push(bit);
                return bit;
            }

            // fait en sorte le bit soit 1 avec une probabilité p_one

            let sum_one = this.generateBits.reduce((acc, val) => acc + val, 0);
            let prob_one = sum_one / len;

            let bit = prob_one < this.p_one ? 1 : 0;
            this.generateBits.push(bit);
            return bit;
        
        }

        receiveMessage(bit) {
            /**
             * Reçoit un bit et met à jour les statistiques.
             */
            this.receivedBits.push(bit);
            this.countTotal += 1;
            if (bit === 1) {
                this.countOnes += 1;
            }
        }

        guessMessage() {
            /**
             * Devine un bit lorsque l'autre nœud est déconnecté et ne renvoie rien.
             * La probabilité d'être 1 = (countOnes / countTotal).
             * Retourne 0 par défaut si aucun bit n'a été reçu (countTotal = 0).
             */
            if (this.countTotal === 0) {
                return 0;
            }
            let probOne = this.countOnes / this.countTotal;
            return probOne > 0.5 ? 1 : 0;
        }
    }
    function choice(liste){
      
        let i = Math.floor(Math.random() * liste.length);
        let r = liste[i];
    }
    async function simulateCommunication(p_alice = 0.5, p_bob = 0.5, steps = 20) {
        /**
         * Simule la communication entre Alice et Bob sur un nombre défini de messages.
         * Bob est déconnecté à une étape aléatoire.
         */
        let alice = new Node("Alice", p_alice);
        let bob = new Node("Bob", p_bob);

        let disconnectStep = Math.floor(Math.random() * (steps - 1)) + 1;

        let bobSentBits = [];
        let aliceGuessedBits = [];

        console.log("\n--- Simulation starts ---");
        console.log(`Alice sends '1' with probability ${p_alice}.`);
        console.log(`Bob sends '1' with probability ${p_bob}.`);
        console.log(`Bob will be disconnected at step: ${disconnectStep}.\n`);

        let console_alice_bob_alice = document.getElementById('console_alice_bob_alice');
        let width_console_alice = console_alice_bob_alice.clientWidth;
        let case_width_alice = (width_console_alice / 3) -3;
        console_alice_bob_alice.style.wordSpacing = case_width_alice + 'px';


        // add spacing word based on width

        let console_alice_bob_bob = document.getElementById('console_alice_bob_bob');
        let width_console_bob = console_alice_bob_bob.clientWidth;
        let case_width_bob = (width_console_bob / 2) ;
        console_alice_bob_bob.style.wordSpacing = case_width_bob + 'px';



        for (let step = 1; step <= steps; step++) {
            console.log(`[Step ${step}]`);
            // console_alice_bob.value += `[Step ${step}]\n`;
            let alice_line = Array(3).fill(" ");
            let bob_line = Array(2).fill(" ");

            if (step === disconnectStep && !bob.isDisconnected) {
                bob.isDisconnected = true;
                console.log("** Bob is now disconnected! **");
            }

            // -- Alice --> Bob --
            let bitFromAlice = alice.sendMessage();
            let bitFromBob = bob.sendMessage();

            alice_line[0] = bitFromAlice;
            bob_line[0] = bitFromBob;




            if(!bob.isDisconnected && !alice.isDisconnected){
                bob.receiveMessage(bitFromAlice);
                alice.receiveMessage(bitFromBob);

                bob_line[1] = bitFromAlice;
                alice_line[1] = bitFromBob;

                bobSentBits.push(bitFromAlice);

            }
            else{
                bob_line[1] = ".";
                alice_line[1] = ".";
            }

            let guessedBit = alice.guessMessage();
            aliceGuessedBits.push(guessedBit);
            alice_line[2] = guessedBit;

            let ratioStr = alice.countTotal ? `${alice.countOnes}/${alice.countTotal}` : "0";
            console.log(`Bob is disconnected; Alice guessed using ratio ${ratioStr}: ${guessedBit}`);

        
            console_alice_bob_alice.value += alice_line.join(' ') + '\n';
            console_alice_bob_bob.value += bob_line.join(' ') + '\n';

            // sleep 
            console_alice_bob_alice.scrollTop = console_alice_bob_alice.scrollHeight;
            console_alice_bob_bob.scrollTop = console_alice_bob_bob.scrollHeight;
            await new Promise(r => setTimeout(r, 1000));
            // scroll to bottom
        }

        // console.log("\n--- Simulation ends ---");
        // console_alice_bob.value += "\n--- Simulation ends ---\n";
        // console.log(`Alice received ${alice.countTotal} bits from Bob (1s: ${alice.countOnes}).`);
        // console_alice_bob.value += `Alice received ${alice.countTotal} bits from Bob (1s: ${alice.countOnes}).\n`;
        // console.log(`Bob received ${bob.countTotal} bits from Alice (1s: ${bob.countOnes}).`);
        // console_alice_bob.value += `Bob received ${bob.countTotal} bits from Alice (1s: ${bob.countOnes}).\n`;

        // console.log("\nDetailed report:");
        // console_alice_bob.value += "\nDetailed report:\n";
        // console.log(`Real bits sent by Bob (before disconnection): ${bobSentBits}`);
        // console_alice_bob.value += `Real bits sent by Bob (before disconnection): ${bobSentBits}\n`;
        // console.log(`Bits guessed by Alice (after Bob got disconnected): ${aliceGuessedBits}\n`);
        // console_alice_bob.value += `Bits guessed by Alice (after Bob got disconnected): ${aliceGuessedBits}\n`;
        // console_alice_bob.scrollTop = console_alice_bob.scrollHeight;

        Simulate_alice_bob();
        return { alice, bob, bobSentBits, aliceGuessedBits };
    }

    function Simulate_alice_bob() {


        var btn = document.getElementById('alice_bob_btn');
        if (btn.innerHTML == 'Stop') {
            btn.classList.remove('btn-danger');
            btn.classList.add('btn-success');
            btn.innerHTML = 'Start';
            return;
        }
        btn.classList.remove('btn-success');
        btn.classList.add('btn-danger');
        btn.innerHTML = 'Stop';
        simulateCommunication();






    }

    function bob_alice() {
        nodes = [];

        var center = getCenter();

        alice = new Node(center.x, center.y, 10, 'red', 'Alice');
        bob = new Node(center.x + 100, center.y, 10, 'blue', 'Bob');

        nodes.push(alice);
        nodes.push(bob);



    }

    function alice_n_bob(nb_bob = 100) {
        nodes = [];
        var center = getCenter();
        var alice = new Node(center.x, center.y, 10, 'red', 'Alice');
        nodes.push(alice);

        var nb_rings = Math.ceil(Math.sqrt(nb_bob)); // Détermine dynamiquement le nombre d'anneaux
        var base_radius = 100; // Rayon du premier anneau
        var remaining_bob = nb_bob;

        for (var ring = 1; ring <= nb_rings; ring++) {
            var radius = base_radius * ring; // Augmente le rayon pour chaque anneau
            var bob_in_ring = Math.ceil(remaining_bob / (nb_rings - ring + 1)); // Répartir les Bob progressivement
            var step = (2 * Math.PI) / bob_in_ring; // Angle entre chaque Bob
            var angle = 0;

            for (var i = 0; i < bob_in_ring; i++) {
                var x = center.x + radius * Math.cos(angle);
                var y = center.y + radius * Math.sin(angle);
                var bob = new Node(x, y, 10, 'blue', `Bob${ring}_${i}`);
                nodes.push(bob);
                drawLine(alice.x, alice.y, bob.x, bob.y);
                angle += step;
            }

            remaining_bob -= bob_in_ring; // Réduire le nombre de Bob restants
        }
    }

    function MIS(nb_bob = 100) {
        // DRAW NODES IN NETWORK LIK GRAPH

        for (var i = 0; i < nb_bob; i++) {
            var x = Math.random() * canvas.width;
            var y = Math.random() * canvas.height;
            var bob = new Node(x, y, 10, 'blue', 'Bob' + i);
            nodes.push(bob);
        }




    }

    function get_graph_density() {
        // calculate the density of the graph
        // density = 2 * |E| / |V| * (|V| - 1)
        // |E| = number of edges

    }

    function changeBobAlice() {
        var e = document.getElementById("alice_bob");
        var mode = e.options[e.selectedIndex].value;
        console.log(mode);

    }

    // listerners and resize canvas

    function resizeCanvas() {
        canvas.width = canevas_box.clientWidth;
        canvas.height = canevas_box.clientHeight;
        clearCanvas();

        redraw();
    }

    window.addEventListener('resize', resizeCanvas);

    // draw node point
    function drawNode(x, y, r, color, name) {
        ctx.beginPath();
        ctx.arc(x, y, r, 0, Math.PI * 2, true);
        ctx.fillStyle = color;
        ctx.fill();
        // draw name bottom
        ctx.font = '12px Arial';
        ctx.fillStyle = 'black';

        ctx.fillText(name, x - 12, y + 20);
    }

    function getCenter() {
        return {
            x: canvas.width / 2,
            y: canvas.height / 2
        }
    }
    // draw line
    function drawLine(x1, y1, x2, y2) {
        ctx.beginPath();
        ctx.moveTo(x1, y1);
        ctx.lineTo(x2, y2);
        ctx.stroke();
    }

    // clear canvas
    function clearCanvas() {
        ctx.clearRect(0, 0, canvas.width, canvas.height);
    }

    function redraw() {
        clearCanvas();

        nodes.forEach(node => {
            drawNode(node.x, node.y, node.r, node.color, node.name);
        });
    }

    function changeMode() {


        var e = document.getElementById("mode-select");
        var mode = e.options[e.selectedIndex].value;
        var title = document.getElementById('Titre');

        // get all box_options and  add class h-0
        var box_options = document.getElementsByClassName('box_options');
        // remove all box_options
        for (var i = 0; i < box_options.length; i++) {
            box_options[i].classList.remove('d-flex');
            box_options[i].classList.add('d-none');

        }


        if (mode == 'alice_bob') {
            clearCanvas();
            bob_alice();
            redraw();
            title.innerHTML = 'Alice-Bob';

            // get box 
            var box_alice_bob = document.getElementById('box_alice_bob');
            box_alice_bob.classList.remove('d-none');

            box_alice_bob.classList.add('d-flex');


        }
        else if (mode == 'alice_n_bob') {
            clearCanvas();
            alice_n_bob();
            redraw();
            title.innerHTML = 'Alice-N-Bob';
        }
        else if (mode == 'alice_mnist') {
            clearCanvas();
            alice_n_bob(784);
            redraw();
            title.innerHTML = 'Alice-NNIST';
        }
        else if (mode == 'mis') {
            clearCanvas();
            // bob_alice();
            // redraw();
            title.innerHTML = 'MIS';
        }
    }

    (() => {

        //     console.log("jQuery ready");
        // bob_alice();
        // redraw();
        // JAVA  DROPDOWN
        // Document.ready(function () {
        //     $('.dropdown-toggle').dropdown();
        // });


        resizeCanvas();

    })();
    // function alice_n_bob(nb_bob=10){
    //     nodes = [];
    //     var center = getCenter();
    //     var alice = new Node(center.x, center.y, 10, 'red', 'Alice');
    //     nodes.push(alice);
    //     // draw bob around alice in circle
    //     var angle = 0;
    //     var radius = 100;
    //     var step = 2 * Math.PI / nb_bob;
    //     for (var i = 0; i < nb_bob; i++) {
    //         var x = center.x + radius * Math.cos(angle);
    //         var y = center.y + radius * Math.sin(angle);
    //         var bob = new Node(x, y, 10, 'blue', 'Bob' + i);
    //         nodes.push(bob);
    //         drawLine(alice.x, alice.y, bob.x, bob.y);
    //         angle += step;
    //     }
    // }
</script>
{% endblock %}